* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgba(110, 111, 196, 0.5);
  padding: 10px 0;
  position: sticky;
  top: 1px;
}

nav ul {
  margin-left: 550px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  font-weight: bolder;
}

nav a {
  text-decoration: none;
  color: black;
}

a[href='#']:hover {
  color: gold;
}

img[src='f.jpg'] {
  height: 500px;
  width: 1520px;
}


table {
  margin: 50px auto;
  height: 600px;
  width: 1000px;
}

th {
   padding-right: 400px;
}

#main {
  position: relative;
  left: 700px;
  border: 1px solid black;
  width: 125px;
  top: 10px;
}

td,
th {
  border: 1px solid black;
  font-weight: bold;
}

tr {
  background-color: rgba(154, 154, 189, 0.5);
}

thead {
  background-color: rgb(112, 54, 54);
}
